<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>  
  	<link rel="stylesheet" href="/css/initial.css" type="text/css" />
      <title>Initial an event</title>
      <script type="text/javascript" src="/js/jquery.js"></script>
      <script type="text/javascript" src="/js/initial.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>	
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbYzvg0aGCPVxWr7x7ou13ObTbq-roTiA&sensor=false&libraries=places"></script>
    
    
    
  </head>
  <body>
    <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_CN/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
    <div id="header">  
      <div id="headertext">
        <span style="text-align:center">Welcome, userName!</span>
        &nbsp;&nbsp;&nbsp;
      <div class="fb-share-button" data-href="https://www.facebook.com/sharer/sharer.php?u=http://www.google.com" data-width="10px" data-type="button_count"></div>
        &nbsp;&nbsp;&nbsp;
      <span> <a href='{{logoutlink}}'>Sign out</a></span>
    </div>
  </div>
    <div class="container">
  	<h1 id="title">Initial an Event</h1>
      <hr>
      <br/>
    	<form role="form" id="table">
		<div class="form-group" name="step1">
    			<label for="exampleInputEmail1">Step1: Set the event's name</label>
    			<input type="text" class="form-control" id="input-name" placeholder="Enter event's name" value="{{eventname}}"/>
  		</div>
                <div class="form-group" name="step2">
    			<label for="exampleInputEmail1">Step2: Make some introduction here.</label>
    			<input type="text" id="introduction" class="form-control" placeholder="Enter introduction" value="{{introduction}}"/>
  		</div>
		<br/>
		<div class="form-group" name="step3">
      <label for="exampleInputEmail1">Step3: Set the time</label><button onclick=test()>test</button>
    			<form>
				<input type="datetime-local"  id="selector"  name="user_date"/>
        
				<button class="btn btn-primary" onClick="setTime()" id="confirm_date">Add time</button>
				<br/>
				<p>(No more than 3 choices)</p>
				<br/>
				<div id="timeContent">
           {% for i in range (0, length) %}
          <span> {{datelist[i]}} </span> &nbsp;&nbsp;&nbsp;<span>Number of Votes: {{ votelist[i]}}</span><br/>
				   {% endfor %}
        </div>
			</form>
			<br/>
		</div>
  			
  		<div class="form-group" name="step4">
    			<label for="exampleInputEmail1">Step4: Set the location</label>
			<input id="pac-input" class="controls" type="text" placeholder="Enter a location"/>
    			<div id="map-canvas"></div>
    			<br/>
    			<br/>
    		</div>
		<table>
			
  		</table>
                <div id="wrong" style="display:none;color:red;">wrong!</div>
  		<button type="button" class="btn btn-primary" id="submitEvent" >Submit the Event</button>
		&nbsp;&nbsp;&nbsp;
		<button type="button" class="btn btn-primary" onclick="{location.href='/home'}">Back to main page</button>
		<br/>
		<br/>
  		<table class="table" id="commentTable">
      			
      			<tbody>
        		
        
      			</tbody>
    		</table>
                
			
		</form>

		
      
      
    </div>    
    <hr>
  <footer align=center>© 2014 IEMS5718-Group13. All rights reserved.</footer>
  </body>
</html>
