<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>  
  	<link rel="stylesheet" href="/css/Initial.css" type="text/css" />
    <title>Initial an event</title>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbYzvg0aGCPVxWr7x7ou13ObTbq-roTiA&sensor=false&libraries=places"></script>
	<script type="text/javascript" src="/js/Initial.js"></script>
    
  </head>
  <body>
  	
  	<h1 id="title">Initial an Event</h1>
    	<form role="form" id="table">
			<div class="form-group">
    			<label for="exampleInputEmail1">Set the event's name</label>
    			<input type="text" class="form-control" placeholder="Enter event's name"/>
  			</div>
			<br/>
			<div class="form-group">
    			<label for="exampleInputEmail1">Set the time</label>
    			<form>
					<input type="date"  id="selector"  name="user_date"/>
					<button class="btn btn-success" onClick="setTime()" id="confirm_date">OK</button>
					<br/>
					<p>(No more than 3 choices)</p>
					<br/>
					<div id="timeContent"></div>
				</form>
			<br/>
			
  			</div>
  			
  			<div class="form-group">
    			<label for="exampleInputEmail1">Set the location</label>
    			<input type="text" class="form-control" placeholder="Enter event's location"/>
  			</div>
    
			<input id="pac-input" class="controls" type="text"
      			placeholder="Enter a location"/>
			<div id="type-selector"  class="controls">
      			<input type="radio" name="type" id="changetype-all" checked="checked">
      			<label for="changetype-all">All</label>

    		</div>
    		<div id="map-canvas"></div>
    		<br/>
    		<br/>
			<table>
			<div class="form-group">
    			<label for="exampleInputEmail1">Make some comments here.</label>
    			<input type="text" id="commentContent" class="form-control" placeholder="Enter comments"/>
  			</div>
  			</table>
  			<button type="button" class="btn btn-success" onclick="submitComment()">Submit</button>
			&nbsp;&nbsp;&nbsp;
			<button type="button" class="btn btn-success" onclick="{location.href='/home'}">Back to main page</button>
			<br/>
			<br/>
  			<table class="table" id="commentTable">
      			
      			<tbody>
        		
        
      			</tbody>
    		</table>
			
		</form>

		
		

  </body>
</html>
