<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
  
	<link rel="stylesheet" href="/css/datepicker.css" type="text/css" />
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>  
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">	 
  <title>Welcome Page</title>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/datepicker.js"></script>
  <script type="text/javascript" src="/js/eye.js"></script>
  <script type="text/javascript" src="/js/utils.js"></script>
  <script type="text/javascript" src="/js/layout.js?ver=1.0.2"></script>
  <script type="text/javascript" src="/js/main_js.js"></script>
  
  <link rel="stylesheet" href="/css/project.css" type="text/css"/>    
  
</head>

<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_CN/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
  
  <div id="header">  
    <span style="float:left;margin-left:20%;">Event World! Fly your event!</span>
    <div id="headertext">
      <span style="text-align:center">Welcome, {{user}}!</span>
    &nbsp;&nbsp;&nbsp;
    <div class="fb-share-button" data-href="https://www.facebook.com/sharer/sharer.php?u=http://www.google.com" data-width="10px" data-type="button_count"></div>
    &nbsp;&nbsp;&nbsp;
    <span> <a href='{{logoutlink}}'>Sign out</a></span>
    </div>
  </div>
  
  <h1 align=center>Event world</h1>
  <hr>
  
  
  
  <div id="navibar" class="btn-group-lg" >
    <button type="button" class="btn btn-primary" onclick="{location.href='/home/myeventlist'}">My events</button>
	  <button type="button" class="btn btn-primary" onclick="{location.href='/home/joinedeventlist'}">Joined events</button>
	  <button type="button" class="btn btn-primary" onclick="{location.href='/event/edit'}">Initial an event</button>   
  </div>
  
  <br/>
  <br/>
  
  <div id="introduction">
    <div><strong><em>Event Forum Mission</em></strong></div>
      <p><small>Are you still be annoyed in making events? Are you still feeling troublesome in putting people together? Are you still feeling hard to find parties? Try this! And It may solve your problems! This forum provides a platform for people to create events and encourages people to join the created events. Do not waste your time staying home, make your own circle and start organizing events! Let your events fly!</small></p>
  </div>
  
  <br/>
  
  <table width="100%" height="100%" border=0>
    <tr height="400"  valign=top>
      <td width="20%"></td>
		  <td width="60%" valign=top >
			  <table class="table" width="100%" id="page">
				  <thead>
					<tr class="active">
					  <th>Title</th><th>Time</th><th>Location</th>
					</tr>
				  </thead>
				  <tbody id="eventContent">
				  {% for eventObject in eventlist %}
            {% if eventObject[4] %}
            <tr><td><s>{{eventObject[0]}}</s></td><td><s>{{eventObject[2]}}</s></td><td><s>{{eventObject[1]}}</s></td></tr>
            {% else %}
            <tr><td><a href="/event/view?eventid={{eventObject[3]}}">{{eventObject[0]}}</a></td><td>{{eventObject[2]}}</td><td>{{eventObject[1]}}</td></tr>
            {% endif %}
				  {% endfor %}
				</tbody>
				
			  </table>
		  </td>
		
		  <td width="20%">
		  </td>
	  </tr>
  </table>
  <table id="userTable" class="table" >
				<thead>
					<tr class="active">
						<th align=center>My Circle</th>
					</tr>
				</thead>
        <tbody>
				{% for user in userlist %}
        		<tr><td>{{user}}</td></tr>
				{% endfor %}
        </tbody>
	</table>
  <p id="date"></p>
	<hr>
  <footer align=center>© 2014 IEMS5718-Group13. All rights reserved.</footer>


</body>
</html>
{% endautoescape %}