<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>  
  	<link rel="stylesheet" href="/css/initial.css" type="text/css" />
    <title>Check Event</title>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbYzvg0aGCPVxWr7x7ou13ObTbq-roTiA&sensor=false&libraries=places"></script>
	<script type="text/javascript" src="/js/view.js"></script>
    
  </head>
  <body>
  	
  	<h1 id="title">Check the Event</h1>
    	<form role="form" id="table">
			<div class="form-group">
    			<label for="exampleInputEmail1">Event's name</label>
        <div>{{eventname}}</div>
  			</div>
			<br/>
			<div class="form-group">
    			<label for="exampleInputEmail1">Event's Description</label>
        <div>{{introduction}}</div>
  			</div>
  			<br/>
			<div class="form-group">
    			<label for="exampleInputEmail1">Event's time</label>
          <div id="timeContent">
           {% for i in range (0, length) %}
             <input type="radio"/> {{datelist[i]}}  &nbsp;&nbsp;&nbsp;<span>Number of Votes: {{ votelist[i]}}</span><br/>
				   {% endfor %}  
				  </div>
			  <br/>			
  		</div>
  			
  			<div class="form-group">
    			<label for="exampleInputEmail1">Event's location</label>
  			</div>
  			<div id="map-canvas" style="height:250px;width:300px;"></div>
                        <script>
                        
                            function initialize() {
                                var mapOptions = {
                                        center: new google.maps.LatLng({{lagitude}},{{longitude}}),
                                        zoom: 17
                                };
                                var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
 
                                var marker = new google.maps.Marker({
                                    map: map,
                                    position: new google.maps.LatLng({{lagitude}},{{longitude}}),
                                    draggable: true
                                });
                             }
                             google.maps.event.addDomListener(window, 'load', initialize);
                            
                        </script>
    	
    		<br/>
    		<br/>
        <table>
				  <div class="form-group">
    				<label for="exampleInputEmail1">Make some comments here.</label>
    				<input type="text" id="commentContent" class="form-control" placeholder="Enter comments"/>
            <button class="btn btn-success" onClick=submitComment()>Submit comment</button>
  				</div>
  			</table>
    			<table class="table" id="comment">
    			{% for item in commentlist %}
        		<tr>
          			<td>{{item[0]}}say: {{item[1]}} at {{item[2]}}</td>	
        		</tr>
                        {% endfor %}
          </table>
    		

  			
  			<button type="button" class="btn btn-success" onclick="submitComment()">Join Event</button>
			
			&nbsp;&nbsp;&nbsp;
			
			<button type="button" class="btn btn-success" onclick="{location.href='/home'}">Back to main page</button>
			
			<br/>
			<br/>
			
  			<table class="table" id="commentTable">
      			<tbody>
        		
        
      			</tbody>
    		</table>
    		
		</form>
  </body>
</html>
