<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>  
  	<link rel="stylesheet" href="/css/initial.css" type="text/css" />
    <title>Check Event</title>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbYzvg0aGCPVxWr7x7ou13ObTbq-roTiA&sensor=false&libraries=places"></script>
	<script type="text/javascript" src="/js/view.js"></script>
    
  </head>
  <body>
  	
  	<h1 id="title">Check the Event</h1>
    	<form role="form" id="table">
			<div class="form-group">
    			<label for="exampleInputEmail1">Event's name</label>
    			<input type="text" class="form-control" readonly="readonly" value="Value of event name to be added"/>
  			</div>
			<br/>
			<div class="form-group">
    			<label for="exampleInputEmail1">Event's Description</label>
    			<input type="text" class="form-control" readonly="readonly" value="Value of event description"/>
  			</div>
  			<br/>
			<div class="form-group">
    			<label for="exampleInputEmail1">Event's time</label>
    			
				<div id="timeContent">
				
				</div>
				
			<br/>
			
  			</div>
  			
  			<div class="form-group">
    			<label for="exampleInputEmail1">Event's location</label>
    			<input type="text" class="form-control" readonly="readonly" value="Value of event location"/>
  			</div>
    
			<input id="pac-input" class="controls" type="text"
      			placeholder="Enter a location"/>
    		
    	<div id="map-canvas"></div>
      <script>
      var mapOptions = {
        center: new google.maps.LatLng(22.413533,114.21031),
        zoom: 17
      };
      var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
      var marker = new google.maps.Marker({
        map: map,
        position: new google.maps.LatLng(22.413533,114.21031),
        draggable: true
  });
        </script>
    	
    		<br/>
    		<br/>
    		
			<table>
				<div class="form-group">
    				<label for="exampleInputEmail1">Make some comments here.</label>
    				<input type="text" id="commentContent" class="form-control" placeholder="Enter comments"/>
          <button onClick=submitComment()>Submit comment</button>
  				</div>
  			</table>
  			
  			<button type="button" class="btn btn-success" onclick="submitComment()">Submit/Join</button>
			
			&nbsp;&nbsp;&nbsp;
			
			<button type="button" class="btn btn-success" onclick="{location.href='/home'}">Back to main page</button>
			
			<br/>
			<br/>
			
  			<table class="table" id="commentTable">
      			<tbody>
        		
        
      			</tbody>
    		</table>
    		
		</form>
  </body>
</html>