<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>  
  	<link rel="stylesheet" href="/css/view.css" type="text/css" />
    <title>Check Event</title>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbYzvg0aGCPVxWr7x7ou13ObTbq-roTiA&sensor=false&libraries=places"></script>
	  <script type="text/javascript" src="/js/view.js"></script>
    
  </head>
  <body>
  	    <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_CN/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
    <div id="header">  
      <div id="headertext">
        <span style="text-align:center">Welcome, {{user}}!</span>
        &nbsp;&nbsp;&nbsp;
      <div class="fb-share-button" data-href="https://www.facebook.com/sharer/sharer.php?u=http://www.google.com" data-width="10px" data-type="button_count"></div>
        &nbsp;&nbsp;&nbsp;
      <span> <a href='{{logoutlink}}'>Sign out</a></span>
    </div>
  </div>
    <div class="container">
  	<h1 id="title">Check the Event</h1>
    	<hr>
			<div class="form-group">
    			<label for="exampleInputEmail1">Event's name</label>
        
        <div style="border-color:#000">{{eventname}}</div>
  			</div>
			<br/>
			<div class="form-group">
    			<label for="exampleInputEmail1">Event's Description</label>
        <div>{{introduction}}</div>
  			</div>
  			<br/>
			<div class="form-group">
    			<label for="exampleInputEmail1">Event's time</label>
        <input type="text" style="display:none" value="{{eventid}}" id="eventId"/>
        <div style="display:none" id="userid">{{userid}}</div>
          <div id="timeContent">
           {% for i in range (0, length) %}
            <input type="radio" id="radio{{i}}Name"/> {{datelist[i]}}  &nbsp;&nbsp;&nbsp;<span>Number of Current Votes: {{ votelist[i]}}</span><br/>
				   {% endfor %}  
				  </div>
			  <br/>			
  		</div>
  			
  			
  			
  			
  			<div class="form-group">
    			<label for="exampleInputEmail1">Event's location</label>
                        <div>{{location}}</div>
  			</div>
  			<div id="map-canvas"></div>
                        <script>
                        
                            function initialize() {
                                var mapOptions = {
                                        center: new google.maps.LatLng({{lat}},{{long}}),
                                        zoom: 17
                                };
                                var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
 
                                var marker = new google.maps.Marker({
                                    map: map,
                                    position: new google.maps.LatLng({{lat}},{{long}}),
                                    draggable: true
                                });
                             }
                             google.maps.event.addDomListener(window, 'load', initialize);
                            
                        </script>
    	
    		<br/>
    		<br/>
       
       
       
       
          <label for="exampleInputEmail1">Make some comments here.</label>
    			<div class="input-group">
    				
    				<input type="text" id="commentContent" class="form-control"  placeholder="Enter comments"/>
            <span class="input-group-btn"><button type="button" class="btn btn-default" onclick="submitComment()" align=right>Submit Comment</button></span>
  		    </div>
          <table class="table" id="commentTable">
            {% for comment in commentlist %}
            <tr><td><span style="color:blue">{{comment[0]}}</span>: {{comment[1]}}</td><td>{{comment[2]}}</td></tr>
				    {% endfor %}  
            <div id="userName" style="display:none;">{{user}}</div>
            
          </table>
  		<button type="button" id="join" class="btn btn-primary" onclick="joinEvent()">Join Event</button>
			
			&nbsp;&nbsp;&nbsp;
			
			<button type="button" class="btn btn-primary" onclick="{location.href='/home'}">Back to main page</button>
			
			<br/>
			<br/>
    		
		
    </div>
    <footer align=center>© 2014 IEMS5718-Group13. All rights reserved.</footer>
  </body>
</html>
